@import '../../vars.scss';
.note {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.active {
        border-left: 4px solid $active-color;
    }
    &:first-child {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
    &:last-child {
        margin-bottom: 0;
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }

    h3 {
        color: $text-color;
        font-size: 16px;
        line-height: 1.6em;
        font-weight: 400;
    }
    span {
        position: absolute;
        right: 110px;
        color: $white;
        background-color: $note-blue;
        padding-right: 0.6em;
        padding-left: 0.6em;
        border-radius: 10rem;
    }
    button {
        @include button;
        background-color: transparent;
        border-color: $delete-color;
        color: $delete-color;
        &:hover {
            color: $white;
            background-color: $delete-color;
            border-color: $delete-color;
        }
    }
}
